<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Page</title>
    <link rel="stylesheet" href="artist_page.css">
    <link href="https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
</head>
<body>
    <header class="Header">
        <div class="HeaderLogo">MaisonD'art</div>
        <nav class="HeaderNav">
            <a href="#" class="NavLink">Gallery</a>
        </nav>
        <div class="HeaderSearch">
            <input type="text" class="SearchInput" placeholder="Search in Maison D'art">
        </div>
        <div class="HeaderIcons">
            <div class="Icon CartIcon"></div>
            <div class="Icon MessageIcon"></div>
            <div class="Icon ProfileIcon"></div>
        </div>
    </header>
    <!-- The rest of your page content goes here -->
    <div class="main-body">
        <div class="profile-background"></div>
        <div class="ArtistPage">
                <div class="box">
                    <img src="assets/mysterious-beauty-profile-of-a-girl-with-butterflies-in-her-hair-black-yellow-gold-modern-ai-art-881.webp" alt="Shop Picture" class="shop-picture">
                    <div class="inner-box">
                        <div class="shop-info">
                            <div class="shop-name">Brail'e Artwork</div>
                            <div class="content-container">
                                <div class="button-container">
                                    <button class="follow-button" id="followBtn">+ Follow</button>
                                    <button class="chat-button">Chat</button>
                                </div>
                                <div class="stats-container">
                                    <div class="rating-review">
                                        <div class="number">4.5</div>
                                        <div class="text">Rating & Review</div>
                                    </div>
                                    <div class="product-sold">
                                        <div class="number">50</div>
                                        <div class="text">Product Sold</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="product-box">
                <div class="product-frame">
                    <img src="assets/abstract_1.webp" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>  
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="product-frame">
                    <img src="assets/abstrac_2.jpg" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-frame">
                    <img src="assets/abstract_3.webp" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-frame">
                    <img src="assets/abstract_4.jpg" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-frame">
                    <img src="assets/abstract_5.jpg" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="product-frame">
                    <img src="assets/abstract_6.jpg" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-frame">
                    <img src="assets/abstract_7.jpg" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-frame">
                    <img src="assets/abstract_8.png" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="product-frame">
                    <img src="assets/abstract_4.jpg" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-frame">
                    <img src="assets/abstract_1.webp" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-frame">
                    <img src="assets/abstrac_2.jpg" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-frame">
                    <img src="assets/abstract_6.jpg" class="product-image" alt="">
                    <div class="product-description">
                        <div class="name">Item Name</div>
                        <div class="desc">Item Description</div>
                        <div class="product-wishlist">
                            <div class="price">Rp. 500.000</div>
                            <div class="circle">
                                <div class="heart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ItemGroup and other content -->
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Maison D'Art</h4>
                <ul>
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Customer Care</h4>
                <ul>
                    <li>FAQs</li>
                    <li>Privacy Policy</li>
                    <li>Delivery</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-tiktok"></i></li>
                    <li><i class="fab fa-facebook"></i></li>
                </ul>
            </div>
        </div>
    </footer>



    <script src="artist_page.js"></script>

</body>
</html>
